@page "/"
@implements IDisposable
@rendermode InteractiveServer
@inject HomeViewmodel Viewmodel
@inject JsService JsService
@inject ILogger<Home> Logger

<link href="/css/home.css" rel="stylesheet"/>

<HeadContent>
    <PageTitle>@Viewmodel.PageTitle</PageTitle>
</HeadContent>

<HeaderBar/>

<div class="grid-container">
    @foreach (var image in Viewmodel.Images)
    {
        <div class="grid-item">
            <div class="image-container @(image.PostId == Viewmodel.HighlightedPostId ? "highlighted" : "")">
                <a href="@image.PostUrl" target="_blank">
                    <img src="@image.ImageUrl" alt="Grid Item">
                </a>
                <button class="overlay-button star-button" @onclick="() => OnImageButtonClick(image)">
                    @GetDownloadStatusIcon(image)
                </button>
                <button class="overlay-button download-all-button" @onclick="() => OnDownloadAllClick(image)">
                    ⬇️
                </button>
                <button class="overlay-button blacklist-button" @onclick="() => OnBlacklistUser(image)">
                    ❌
                </button>
                <button class="overlay-button highlight-button" @onclick="() => OnHighlightRelatedImages(image)">
                    @GetHighlightStatusIcon()
                </button>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int? PostId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int? ModelId { get; set; }
    
    public string GetDownloadStatusIcon(ImageModel image) => Viewmodel.GetDownloadStatusIcon(image);
    public string GetHighlightStatusIcon() => Viewmodel.GetHighlightStatusIcon();

    protected override async Task OnInitializedAsync()
    {
        await Viewmodel.OnInitialized(PostId, ModelId);
        
        Viewmodel.StateUpdated += async () =>
        {
            Logger.LogDebug("Viewmodel has requested state updated in UI");
            await InvokeAsync(StateHasChanged);
        };
        
        Viewmodel.TitleUpdated += ViewmodelOnTitleUpdated;
    }

    private async Task ViewmodelOnTitleUpdated(string newTitle)
    {
        Logger.LogDebug("Updating UI title to {NewTitle}", newTitle);
        await JsService.SetTabTitle(newTitle);
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await JsService.Initialise(this);
        await Viewmodel.OnAfterRenderAsync();
    }
    
    [JSInvokable]
    public async Task OnTabFocused() => await Viewmodel.OnTabFocused();

    private async Task OnImageButtonClick(ImageModel image) => await Viewmodel.OnImageButtonClick(image);
    private async Task OnDownloadAllClick(ImageModel image) => await Viewmodel.OnDownloadAllClick(image);
    private async Task OnBlacklistUser(ImageModel image) => await Viewmodel.OnBlacklistUser(image);
    private Task OnHighlightRelatedImages(ImageModel image) => Viewmodel.OnHighlightRelatedImages(image);

    public void Dispose() => Viewmodel.Dispose();
}